---
import {css} from '../../../../styled-system/css'
import {center, flex} from '../../../../styled-system/patterns'
import AdminLayout from '../../../layouts/AdminLayout.astro'


const styleContainer = flex({
        direction: 'column',
        mx: '35%',
        alignItems: 'flex-start',
        my: '3%'
        })

const styleLabel = css({
        fontSize: 21,
        mb: 2
        })
---

<AdminLayout>
    <center>
    <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Add content
        </h2>

        <form>
            <div class={styleContainer}>
                <label class={styleLabel}>Content</label>
                <input placeholder="Enter your title of blog"
                        type="file"/>
            </div>
            <button>
                Create
            </button>
        </form>
    </center>
</AdminLayout>
