---
import {css} from '../../../../styled-system/css'
import {center, flex} from '../../../../styled-system/patterns'
import AdminLayout from '../../../layouts/AdminLayout.astro'
import ContentComponent from '../../../components/admin/ContentComponent.tsx'
---

<AdminLayout>
    <center>
    <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Add content
        </h2>
    <ContentComponent client:idle />
    </center>
</AdminLayout>
