---
import {css} from '../../../../styled-system/css'
import {center} from '../../../../styled-system/patterns'
import AdminLayout from '../../../layouts/AdminLayout.astro'
import NewComponent from '../../../components/admin/NewComponents.tsx'
---

<AdminLayout>
    <center>
        <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Create new blog
        </h2>
        <NewComponent client:idle />
    </center>
</AdminLayout>
