---
import {css} from '../../../../../styled-system/css'
import {center, flex} from '../../../../../styled-system/patterns'
import AdminLayout from '../../../../layouts/AdminLayout.astro'
import EditSecond from '../../../../components/admin/EditSecond.tsx'

const styleContainer = flex({
        direction: 'column',
        mx: '35%',
        alignItems: 'flex-start',
        my: '3%'
        })

const styleLabel = css({
        fontSize: 21,
        mb: 2
        })

const {id} = Astro.params
---

<AdminLayout>
    <center>
    <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Change content
    </h2>
    <EditSecond id={id} client:idle />
    </center>
</AdminLayout>
