---
import {css} from '../../../../../styled-system/css'
import {center, flex} from '../../../../../styled-system/patterns'
import Layout from '../../../../layouts/Layout.astro'

const styleContainer = flex({
        direction: 'column',
        mx: '35%',
        alignItems: 'flex-start',
        my: '3%'
        })

const styleLabel = css({
        fontSize: 21,
        mb: 2
        })
---

<Layout>
    <center class={css({mb: '9.5%'})}>
    <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Change content
        </h2>

        <form>
            <div class={styleContainer}>
                <label class={styleLabel}>Content</label>
                <input placeholder="Enter your title of blog"
                        type="file"/>
            </div>
            <button>
                Confirm
            </button>
        </form>
    </center>
</Layout>
