---
import {css} from '../../../../styled-system/css'
import {center} from '../../../../styled-system/patterns'
import AdminLayout from '../../../layouts/AdminLayout.astro'
import NewComponent from '../../../components/admin/NewComponents.tsx'
---

<script >
    import {isLogged, url} from '../../../utils.ts'
    const token = sessionStorage.getItem('token')
    if (!isLogged(token)){
        window.location = `${url}/admin/auth/signin`

    }
</script>

<AdminLayout>
    <center>
        <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Create new blog
        </h2>
        <NewComponent client:idle />
    </center>
</AdminLayout>
