---
import {css} from '../../../../styled-system/css'
import {center, flex} from '../../../../styled-system/patterns'
import AdminLayout from '../../../layouts/AdminLayout.astro'
import EditFirst from '../../../components/admin/EditFirst.tsx'

export const prerender = false

const {id} = Astro.params
---

<AdminLayout>
    <center>
    <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Modify your blog
        </h2>
        <EditFirst id={id} client:idle />
    </center>
</AdminLayout>
