---
import {css} from '../../../../styled-system/css'
import {center, flex} from '../../../../styled-system/patterns'
import AdminLayout from '../../../layouts/AdminLayout.astro'

const response = await fetch('http://127.0.0.1:3333/all-blog')
                    .then((res) => res.json())
                    .catch((err) => console.error(err))
console.log(response)

//style
const styleLabel = css({
        fontSize: 21,
        mb: 2
        })
---

<AdminLayout>
    <center>
    <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Edit one blog
        </h2>
    {response.map(item => (
        <ul class={css({
            my: '3%',
            mx: '20%',
            '& li': {
                fontSize: 22,
                my: '3%'
            }
                })} key={item.id}>
            <li> <a href=`./edit/${item.id}`> {item.title} </a> </li>
        </ul>
    ))}
    </center>
</AdminLayout>
