---
import {css} from '../../../../styled-system/css'
import {center, flex} from '../../../../styled-system/patterns'
import AdminLayout from '../../../layouts/AdminLayout.astro'


const styleLabel = css({
        fontSize: 21,
        mb: 2
        })
---

<AdminLayout>
    <center>
    <h2 class={css({
            fontWeight: '500',
            mt: '3%'
            })}> 
            Edit one blog
        </h2>
        <ul class={css({
            my: '3%',
            mx: '20%',
            '& li': {
                fontSize: 22,
                my: '3%'
            }
                })}>
            <li> <a> Blog 1 </a> </li>
            <li> <a> Blog 2 </a> </li>
            <li> <a> Blog 3 </a> </li>
            <li> <a> blog 4 </a> </li>
            <li> <a> Blog 5 </a> </li>
            <li> <a> Blog 1 </a> </li>
            <li> <a> Blog 2 </a> </li>
            <li> <a> Blog 3 </a> </li>
            <li> <a> blog 4 </a> </li>
            <li> <a> Blog 5 </a> </li>
        </ul>
    </center>
</AdminLayout>
