---
import Layout from '../layouts/Layout.astro';
import {css} from '../../styled-system/css'
import {center, box, flex} from '../../styled-system/patterns'
import ListBlog from '../components/ListBlog.astro'
---

<Layout>
	<main>
        <center class={css({mb: '6%'})}>
            <p class={css({fontWeight:'bold',
                        color: 'white',
                        mt: '1.2%'})}>
                Dar_rius
            </p>
            <p class={css({color: '#ECF0F1', mt:'1.2%', mb:'1.5%'})}>
            I'm a software engineer and I'd like to <br/> share my latest discoveries with you.
            </p>
            <div class={
                flex({direction: 'row', 
                justify:'center'})}>
                <a href="https://github.com/Dar-rius" target="_blank" 
                class={css({color:'#B0B0B0',
                mr: '5%', 
                transition: 'all',
                transitionTimingFunction: 'ease-out',
                transitionDelay: '.2s',
                _hover:{
                    color: 'white'
                }   
                })}>
                    Github
                </a>
                <a href="https://www.linkedin.com/in/mohamed-tine-515950214/" target="_blank" 
                class={css({color:'#B0B0B0',
                transition: 'all',
                transitionTimingFunction: 'ease-out',
                transitionDelay: '.2s',
                _hover:{
                    color: 'white'
                }
                })}>
                    Linkedin
                </a>
                <a href="https://twitter.com/Dar_rius_" target="_blank" 
                class={css({color:'#B0B0B0',
                            ml: '5%',
                            transition: 'all',
                            transitionTimingFunction: 'ease-out',
                            transitionDelay: '.2s',
                            _hover:{
                                color: 'white'
                            }})}>
                    Twitter
                </a>
            </div>
        </center>
        <ListBlog/>
	</main>
</Layout>
