---
import Layout from '../layouts/Layout.astro';
import {css} from '../../styled-system/css'
---

<Layout>
	<main>
	    <p class={css({fontWeight: 'bold', color: 'red.300'})}>
            test merde
        </p>
	</main>
</Layout>
