---
import Header from "../components/Header.astro"
import Last from "../components/Last.astro"
import {css} from "../../styled-system/css"
import "../index.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>test</title>
	</head>
	<body class={css({mx:'8%'})}>
        <Header/>
		<slot />
        <Last/>
	</body>
</html>
